body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: chocolate;
}
.form {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: cornflowerblue;
  margin-top: 3rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  /* margin: 20rem; */
}

#title {
  height: 20px;
  width: 330px;
  border-radius: 5px;
  margin: 15px;
}

#content {
  border-radius: 5px;
  margin: 15px;
  width: 300px;
  height: 150px;
}

.btn {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

button {
  background-color: darkkhaki;
  border-radius: 5px;
}

#btnAdd {
  width: 200px;
  height: 30px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 15px;
  display: grid;
  background-color: cornflowerblue;
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

li button {
  width: 30px;
  height: 30px;
  align-self: center;
}

form {
  display: flex;
  justify-content: center;
}

input {
  background-color: gainsboro;
}

.flex {
  display: ;
}

.titleDiv {
  display: flex;
}

.titleDiv label {
  align-self: center;
}

#contentGrid {
  overflow: auto;
}
